In [5]:
import pandas as pd
import numpy as np
import pylab
import matplotlib.pyplot as plt

In [9]:
data_path = "./data/average_rent_by_borough-2.csv"
rent =  pd.read_csv(data_path, index_col=0) 

import cufflinks as cf
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)
 


df = pd.DataFrame(rent, columns = ['2015 Average Rent','2016 Average Rent','2017 Average Rent',
                                   '2018 Average Rent', '2019 Average Rent']).sort_values('2019 Average Rent' , ascending = False)

print (df)

                        2015 Average Rent  2016 Average Rent  \
Area
Kensington and Chelsea               3130               3215
Westminster                          2990               2956
Camden                               2225               2285
City of London                       2194               2249
Hammersmith and Fulham               1922               1886
Richmond upon Thames                 2021               2036
Islington                            1900               1941
Hackney                              1641               1773
Wandsworth                           1768               1889
Tower Hamlets                        1603               1733
Lambeth                              1556               1690
Southwark                            1540               1600
Brent                                1450               1584
Barnet                               1476               1669
Merton                               1519               1625
Haringey                             1372               1523
Ealing                               1383               1458
Newham                               1168               1314
Hounslow                             1387               1659
Kingston upon Thames                 1333               1453
Harrow                               1272               1370
Greenwich                            1252               1342
Enfield                              1197               1260
Bromley                              1180               1241
Lewisham                             1130               1242
Waltham Forest                       1149               1230
Redbridge                            1090               1199
Hillingdon                           1157               1194
Barking and Dagenham                  965               1099
Havering                              958               1027
Sutton                               1044               1119
Croydon                              1056               1102
Bexley                                936               1036

                        2017 Average Rent  2018 Average Rent  \
Area
Kensington and Chelsea               3544               2882
Westminster                          2784               2784
Camden                               2138               1961
City of London                       2163               2066
Hammersmith and Fulham               2161               1741
Richmond upon Thames                 1830               1891
Islington                            1886               1860
Hackney                              1804               1795
Wandsworth                           1853               1873
Tower Hamlets                        1801               1739
Lambeth                              1670               1647
Southwark                            1653               1623
Brent                                1592               1571
Barnet                               1588               1508
Merton                               1608               1584
Haringey                             1518               1496
Ealing                               1519               1514
Newham                               1391               1374
Hounslow                             1496               1309
Kingston upon Thames                 1417               1406
Harrow                               1417               1361
Greenwich                            1384               1434
Enfield                              1389               1324
Bromley                              1243               1226
Lewisham                             1307               1306
Waltham Forest                       1312               1300
Redbridge                            1253               1270
Hillingdon                           1198               1281
Barking and Dagenham                 1171               1184
Havering                             1061               1135
Sutton                               1159               1137
Croydon                              1104               1144
Bexley                               1086               1044

                        2019 Average Rent
Area
Kensington and Chelsea               3208
Westminster                          2832
Camden                               2427
City of London                       2377
Hammersmith and Fulham               2070
Richmond upon Thames                 1896
Islington                            1895
Hackney                              1834
Wandsworth                           1828
Tower Hamlets                        1773
Lambeth                              1751
Southwark                            1676
Brent                                1578
Barnet                               1548
Merton                               1542
Haringey                             1513
Ealing                               1484
Newham                               1422
Hounslow                             1410
Kingston upon Thames                 1396
Harrow                               1396
Greenwich                            1380
Enfield                              1325
Bromley                              1318
Lewisham                             1318
Waltham Forest                       1314
Redbridge                            1303
Hillingdon                           1268
Barking and Dagenham                 1192
Havering                             1131
Sutton                               1130
Croydon                              1112
Bexley                               1084

In [10]:
dfs = pd.concat([df], axis=1)\
      .fillna(0).apply(np.int64)
#fillna(0) converts NaN to 0, apply(np.int64) convert float to int (not applied to NaN)

dfs.columns = ['2015','2016','2017','2018','2019']
dfs.index.name = 'Neighbourhood'

print(dfs)

                        2015  2016  2017  2018  2019
Neighbourhood
Kensington and Chelsea  3130  3215  3544  2882  3208
Westminster             2990  2956  2784  2784  2832
Camden                  2225  2285  2138  1961  2427
City of London          2194  2249  2163  2066  2377
Hammersmith and Fulham  1922  1886  2161  1741  2070
Richmond upon Thames    2021  2036  1830  1891  1896
Islington               1900  1941  1886  1860  1895
Hackney                 1641  1773  1804  1795  1834
Wandsworth              1768  1889  1853  1873  1828
Tower Hamlets           1603  1733  1801  1739  1773
Lambeth                 1556  1690  1670  1647  1751
Southwark               1540  1600  1653  1623  1676
Brent                   1450  1584  1592  1571  1578
Barnet                  1476  1669  1588  1508  1548
Merton                  1519  1625  1608  1584  1542
Haringey                1372  1523  1518  1496  1513
Ealing                  1383  1458  1519  1514  1484
Newham                  1168  1314  1391  1374  1422
Hounslow                1387  1659  1496  1309  1410
Kingston upon Thames    1333  1453  1417  1406  1396
Harrow                  1272  1370  1417  1361  1396
Greenwich               1252  1342  1384  1434  1380
Enfield                 1197  1260  1389  1324  1325
Bromley                 1180  1241  1243  1226  1318
Lewisham                1130  1242  1307  1306  1318
Waltham Forest          1149  1230  1312  1300  1314
Redbridge               1090  1199  1253  1270  1303
Hillingdon              1157  1194  1198  1281  1268
Barking and Dagenham     965  1099  1171  1184  1192
Havering                 958  1027  1061  1135  1131
Sutton                  1044  1119  1159  1137  1130
Croydon                 1056  1102  1104  1144  1112
Bexley                   936  1036  1086  1044  1084

In [1]:
dfs_10 = dfs.head(10)
print(dfs_10)
dfs_10.T.iplot(title='Average monthly rent, by borough')

NameError: name 'dfs' is not defined